<!DOCTYPE html>
	<html lang="en" ng-app>
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		
		<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	</body>
	</html>	